#picture{
	width: 1000px;
	float:right;
	top: 0;

}
#role {
	width: 800px;
	margin-left: 200px;
}
img{
	width: 200px;
	height: 200px;
}

nav ul li {
	list-style: none;
	line-height: 30px;
}
nav {
	position: fixed;
}
nav a:hover{
  background-color: yellow;
}
body {
	background-color:gray;
}

a:link {
	color: black;
	text-decoration: none;
}