div {
	margin-left: 100px;
	width: 50%;
}
button{
	margin-left: 150px;
}
img{
	width: 800px;
	height: 700px;
	float: left;
}
 #first{
    float: left;
    width: ;
}
#one{
	background-color: #FF9966;
}
footer{
	background-color: #FF6666;
}